<!-- Pricing Slider -->
<div class="pricing_slider_container">
    <div class="owl-carousel owl-theme pricing_slider">
        {% for promotion in promotions %}
        <div class="owl-item">
            <div class="pricing_item">
                <div class="background_image" style="background-image:url('/assets/themes/beauty/images/prsicing.jpg')"></div>
                <div class="pricing_border"></div>
                <div class="pricing_content">
                    <div class="pricing_title">{{ promotion.description }}</div>
                    <div class="pricing_list">
                        <ul>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div>{{ promotion.content }}</div>
                                <div class="contact_form_button">
                                    <div class="services_more_button ml-auto mr-auto trans_200">
                                        <a href="/promocion/{{ promotion.slug }}" target="_blank" style="color:black">Lo quiero</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>