<!-- Services -->
<div class="services" id="services">
    <div class="parallax_background" data-image-src="/assets/themes/beauty/images/services.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="section_title_container">
                    <div class="section_title"><h1>Servicios</h1></div>
                    <p>
                        Ofrecemos diversos servicios de peluquería. Nuestra basta experiencia nos ha hecho especialistas en los siguientes servicios:
                    </p>
                </div>
            </div>
        </div>
        <div class="row services_row">
            <div class="col">
                <div class="section_expander">

                    <!-- Servicios Slider -->
                    <div class="services_slider_container">
                        <div class="owl-carousel owl-theme services_slider">
                        {% set items=0 %}
                        {% for service in services %}
                            {% if items is same as(0) %}
                                <!-- Slide {{ loop.index }}-->
                                <div class="owl-item">
                            {% endif %}
                            <!-- Service -->
                            <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
                                <div class="service_icon"><div><img src="/assets/themes/beauty/images/{{ service.icon }}" class="svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                <div class="service_content">
                                    <div class="service_title trans_200">{{ service.service_title }}</div>
                                    <div class="service_text trans_200">
                                        <p>
                                            {{ service.service_text }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            {% if items is same as(2) %}
                                </div>
                                {% set items=0 %}
                            {% endif %}
                            {% set items=items + 1 %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>