<!-- Home -->
<div class="home">
    <!-- Home Slider -->
    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">
            <!-- Slide -->
            <div class="owl-item home_slide">
                <div class="background_image" style="background-image:url(/assets/themes/beauty/images/index.jpg)"></div>
                <div class="slide_text" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                    <div class="slide_title">Our best offers</div>
                    <div class="slide_subtitle">Lorem ipsum dolor sit amet, consectetur</div>
                </div>
                <div class="slide_container">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="slide_content" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOut">
                                    <div class="home_title"><h1>El <span>cabello</span> de tus sueños.</h1></div>
                                    <div class="home_text">
                                        <p>
                                            En Doble RR
                                        </p>
                                    </div>
                                    <div class="home_link"><a href="/assets/themes/beauty/#">View our offers</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide -->
            <div class="owl-item home_slide">
                <div class="background_image" style="background-image:url(/assets/themes/beauty/images/index.jpg)"></div>
                <div class="slide_text" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                    <div class="slide_title">Our best offers</div>
                    <div class="slide_subtitle">Lorem ipsum dolor sit amet, consectetur</div>
                </div>
                <div class="slide_container">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="slide_content" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOut">
                                    <div class="home_title"><h1>The <span>hair</span> that you dream</h1></div>
                                    <div class="home_text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien cursus faucibus finibus.</p>
                                    </div>
                                    <div class="home_link"><a href="/assets/themes/beauty/#">View our offers</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide -->
            <div class="owl-item home_slide">
                <div class="background_image" style="background-image:url(/assets/themes/beauty/images/index.jpg)"></div>
                <div class="slide_text" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                    <div class="slide_title">Our best offers</div>
                    <div class="slide_subtitle">Lorem ipsum dolor sit amet, consectetur</div>
                </div>
                <div class="slide_container">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="slide_content" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOut">
                                    <div class="home_title"><h1>The <span>hair</span> that you dream</h1></div>
                                    <div class="home_text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien cursus faucibus finibus.</p>
                                    </div>
                                    <div class="home_link"><a href="/assets/themes/beauty/#">View our offers</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Scroll Down -->
    <div class="scroll_down scroll_to d-flex flex-column align-items-center justify-content-center" data-scroll-to="#services">
        <div class="scroll_icon"></div>
        <div>Scroll Down</div>
    </div>

    <!-- Slider Progress -->
    <div class="slide_progress">
        <div class="slide_num">01.</div>
        <div class="slide_bar"><div></div></div>
    </div>
</div>