<!-- Pricing Slider -->
<div class="pricing_slider_container">
    <div class="owl-carousel owl-theme pricing_slider">

        <!-- Slide -->
        <div class="owl-item">
            <div class="pricing_item">
                <div class="background_image" style="background-image:url('/assets/themes/beauty/images/pricing.jpg')"></div>
                <div class="pricing_border"></div>
                <div class="pricing_content">
                    <div class="pricing_title">Hair Cuts</div>
                    <div class="pricing_list">
                        <ul>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div>Women's Haircut</div>
                                <div class="ml-auto">$95+</div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div>Men's Haircut</div>
                                <div class="ml-auto">$25+</div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div>Teen's Haircut</div>
                                <div class="ml-auto">$55+</div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div>Children's Haircut</div>
                                <div class="ml-auto">$30+</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>