{% extends 'open/open.html.twig' %}

{% block title %}Doble RR | La empresa{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/assets/themes/beauty/styles/about.css">
  <link rel="stylesheet" type="text/css" href="/assets/themes/beauty/styles/about_responsive.css">
{% endblock %}

{% block body %}
  <div class="home">
    <div class="parallax_background" data-image-src="/assets/themes/beauty/images/about.jpg"></div>
    <div class="home_container" style="margin-top: 1em">
      <div class="container">
        <div class="row">
          <div class="col-xl-8">
            <div class="section_title_container">
              <div class="section_title"><h1 style="font-size: -webkit-xxx-large;">Peluquería <span>Doble RR</span></h1></div>
            </div>
          </div>
        </div>
        <div class="row about_row">
          <div class="col-lg-6">
            <div class="about_text">
              <p>
                Es una peluquería unisex situada en el barrio de Prosperidad (Madrid) atendida por María, Carlos, Miriam y Beatriz.<br/>
                Abierta al público desde 2010 presta servicio a su variada clientela cerca del metro de Alfonso XIII.<br/>
                En "Doble RR" Cada cliente tiene un trato personalizado.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about_text">
              <p>

              </p>
            </div>
          </div>
        </div>
<!--
        <div class="row about_link_row">
          <div class="col">
            <div class="home_link"><a href="#">Read More</a></div>
          </div>
-->
        </div>
      </div>
    </div>
  </div>

  <!-- Milestones -->

  <div class="milestones_section">
    <div class="parallax_background" data-image-src="/assets/themes/beauty/images/milestones.jpg"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container">
            <div class="section_title"><h1>En la calle Clara del Rey 57</h1></div>
            <p>
              El mejor servicio, calidad, precio y profesionalidad.
            </p>
          </div>
        </div>
      </div>
      <div class="row milestones_row">
        <div class="col">

          <!-- Milestones Slider -->
          <div class="milestones_slider_container">
            <div class="owl-carousel owl-theme milestones_slider">

              <!-- Slide -->
              <div class="owl-item">
                <div class="milestone">
                  <div class="milestone_content">
                    <div class="milestone_counter" data-end-value="5" data-sign-before="+" data-sign-after="k">0k</div>
                    <div class="milestone_title">Satisfied Clients</div>
                    <div class="milestone_text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum quis sem sed pharetra. Morbi tempus lobortis.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div class="owl-item">
                <div class="milestone">
                  <div class="milestone_content">
                    <div class="milestone_counter" data-end-value="3">0k</div>
                    <div class="milestone_title">Salon Locations</div>
                    <div class="milestone_text">
                      <p>Ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum quis sem sed pharetra. Morbi tempus lobortis.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div class="owl-item">
                <div class="milestone">
                  <div class="milestone_content">
                    <div class="milestone_counter" data-end-value="25">0k</div>
                    <div class="milestone_title">Awards Won</div>
                    <div class="milestone_text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum quis sem sed pharetra. Morbi tempus lobortis.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div class="owl-item">
                <div class="milestone">
                  <div class="milestone_content">
                    <div class="milestone_counter" data-end-value="17">0k</div>
                    <div class="milestone_title">Awarded Stylists</div>
                    <div class="milestone_text">
                      <p>Ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum quis sem sed pharetra. Morbi tempus lobortis.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div class="owl-item">
                <div class="milestone">
                  <div class="milestone_content">
                    <div class="milestone_counter" data-end-value="5" data-sign-before="+" data-sign-after="k">0k</div>
                    <div class="milestone_title">Satisfied Clients</div>
                    <div class="milestone_text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum quis sem sed pharetra. Morbi tempus lobortis.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div class="owl-item">
                <div class="milestone">
                  <div class="milestone_content">
                    <div class="milestone_counter" data-end-value="3">0k</div>
                    <div class="milestone_title">Salon Locations</div>
                    <div class="milestone_text">
                      <p>Ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum quis sem sed pharetra. Morbi tempus lobortis.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div class="owl-item">
                <div class="milestone">
                  <div class="milestone_content">
                    <div class="milestone_counter" data-end-value="25">0k</div>
                    <div class="milestone_title">Awards Won</div>
                    <div class="milestone_text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum quis sem sed pharetra. Morbi tempus lobortis.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div class="owl-item">
                <div class="milestone">
                  <div class="milestone_content">
                    <div class="milestone_counter" data-end-value="17">0k</div>
                    <div class="milestone_title">Awarded Stylists</div>
                    <div class="milestone_text">
                      <p>Ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum quis sem sed pharetra. Morbi tempus lobortis.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div class="owl-item">
                <div class="milestone">
                  <div class="milestone_content">
                    <div class="milestone_counter" data-end-value="25">0k</div>
                    <div class="milestone_title">Awards Won</div>
                    <div class="milestone_text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum quis sem sed pharetra. Morbi tempus lobortis.</p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div class="owl-item">
                <div class="milestone">
                  <div class="milestone_content">
                    <div class="milestone_counter" data-end-value="17">0k</div>
                    <div class="milestone_title">Awarded Stylists</div>
                    <div class="milestone_text">
                      <p>Ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum quis sem sed pharetra. Morbi tempus lobortis.</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <!-- Slider Progress Bar -->
            <div class="slide_progress">
              <div class="slide_num">01.</div>
              <div class="slide_bar"><div style="width: 0%; transition: width 0s ease 0s;"></div></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block javascripts %}
  <script src="/assets/themes/beauty/js/about.js"></script>
{% endblock %}