{% extends 'open/open.html.twig' %}

{% block title %}Doble RR | Contacto{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/assets/themes/beauty/styles/contact.css">
    <link rel="stylesheet" type="text/css" href="/assets/themes/beauty/styles/contact_responsive.css">
{% endblock %}

{% block body %}
<div class="home">
    <div class="parallax_background" data-image-src="/assets/themes/beauty/images/contact.jpg"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="section_title_container">
                        <div class="section_title"><h1>Aquí<span> te esperamos</span></h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->

<div class="contact">

    <!-- Google Map -->
    <div class="map">
        <div id="google_map" class="google_map">
            <div class="map_container">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <div class="contact_overlay">
        <div class="contact_overlay_content d-flex flex-column align-items-center justify-content-center">
            <!-- Logo -->
            <div class="logo">
                <a href="#">
                    <div>Doble <span>RR</span></div>
                    <div>peluquería</div>
                </a>
            </div>
            <div class="contact_list">
                <ul>
                    <li class="text-center">
                        <div><span><img src="/assets/themes/beauty/images/placeholder.svg" alt=""></span>Calle Clara del Rey 57</div>
                    </li>
                    <li class="text-center">
                        <div><span><img src="/assets/themes/beauty/images/phone-call.svg" alt=""></span>+34 91 455 74 43</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="parallax_background" data-image-src="/assets/themes/beauty/images/footer.jpg"></div>
    <div class="footer_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container">
                        <div class="section_title"><h1 style="color:white;">Formulario</h1></div>
                    </div>
                </div>
            </div>
            <div class="row footer_row">
                <div class="col-lg-4 footer_col">
                    <div class="contact_info">
                        <div class="footer_title">Contact Info</div>
                        <div class="contact_info_list">
                            <ul>
                                <li class="d-flex flex-row align-items-start justify-content-start">
                                    <div><div class="contact_info_icon"><img src="/assets/themes/beauty/images/placeholder.svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                    <div class="contact_info_content">4127 Raoul Wallenber4127 Raoul Wallen berg Place</div>
                                </li>
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div><div class="contact_info_icon"><img src="/assets/themes/beauty/images/phone-call.svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                    <div class="contact_info_content">203-808-8613</div>
                                </li>
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div><div class="contact_info_icon"><img src="/assets/themes/beauty/images/message.svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                    <div class="contact_info_content">milothemes@gmail.com</div>
                                </li>
                            </ul>
                        </div>
                        <div class="social">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="footer_title">Leave a comment</div>
                    <div class="contact_form_container">
                        <form action="#" id="contact_form" class="contact_form">
                            <div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" placeholder="Name" class="contact_input" required="required">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="email" placeholder="E-mail" class="contact_input" required="required">
                                    </div>
                                </div>
                            </div>
                            <div><input type="text" placeholder="Subject" class="contact_input"></div>
                            <div><textarea class="contact_input contact_textarea" placeholder="Message" required="required"></textarea></div>
                            <button class="contact_form_button">send message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        var map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 40.4453211, lng: -3.6706501},
                zoom: 6
            });
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDimWax6oDetilbXKqdmmoIIxHREyJ4aY0&callback=initMap">
    </script>

{% endblock %}
{% block javascripts %}
    <script src="/assets/themes/beauty/js/contact.js"></script>
{% endblock %}