{% extends '/open/promotion/promotion-layout.html.twig' %}
{% block container %}
<h1>Política de cookies</h1>
<div class="row">
    <div class="col-lg-12">
        <h2>Tu privacidad es importante para nosotros</h2>
        <p style="color:white">
            Puedes configurar tus preferencias y elegir como quieres que tus datos sean utilizados para los siguientes propósitos. Puedes elegir configurar tus preferencias solo con nosotros independientemente del resto de nuestros partners. Cada propósito tiene una descripción para que puedas saber como nosotros y nuestros partners utilizamos tus datos
        </p>
    </div>
</div>
{% endblock %}