{% extends 'open/open.html.twig' %}

{% block title %}Doble RR | Servicios{% endblock %}

{% block body %}
<div class="home">
    <div class="parallax_background" data-image-src="/assets/themes/beauty/images/services_background.jpg"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="section_title_container">
                        <div class="section_title"><h1><span>Services</span> we provide</h1></div>
                    </div>
                </div>
            </div>
            <div class="row services_row">
                <div class="col">
                    <div class="section_expander">

                        <!-- Services Slider -->
                        <div class="services_slider_container">
                            <div class="owl-carousel owl-theme services_slider">

                                <!-- Slide -->
                                <div class="owl-item">

                                    <!-- Service -->
                                    <div class="service d-flex flex-row align-items-start justify-content-start trans_200">
                                        <div class="service_icon"><div class="text-right"><img src="/assets/themes/beauty/images/mirror.svg" class="svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                        <div class="service_content">
                                            <div class="service_title trans_200">Hair Dressing</div>
                                            <div class="service_text trans_200">
                                                <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui ferme ntum eros hendrerit, id lobortis.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Service -->
                                    <div class="service d-flex flex-row align-items-start justify-content-start trans_200">
                                        <div class="service_icon"><div class="text-right"><img src="/assets/themes/beauty/images/cream.svg" class="svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                        <div class="service_content">
                                            <div class="service_title trans_200">Ombre Hair</div>
                                            <div class="service_text trans_200">
                                                <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermen tum eros hendrerit.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- Slide -->
                                <div class="owl-item">

                                    <!-- Service -->
                                    <div class="service d-flex flex-row align-items-start justify-content-start trans_200">
                                        <div class="service_icon"><div class="text-right"><img src="/assets/themes/beauty/images/facial-mask.svg" class="svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                        <div class="service_content">
                                            <div class="service_title trans_200">Hair Coloring</div>
                                            <div class="service_text trans_200">
                                                <p>Aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hen drerit, id lobortis leo volutpat.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Service -->
                                    <div class="service d-flex flex-row align-items-start justify-content-start trans_200">
                                        <div class="service_icon service_icon_2 service_icon_flip"><div class="text-right"><img src="/assets/themes/beauty/images/make-up.svg" class="svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                        <div class="service_content">
                                            <div class="service_title trans_200">Treatments</div>
                                            <div class="service_text trans_200">
                                                <p>Scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- Slide -->
                                <div class="owl-item">

                                    <!-- Service -->
                                    <div class="service d-flex flex-row align-items-start justify-content-start trans_200">
                                        <div class="service_icon"><div class="text-right"><img src="/assets/themes/beauty/images/makeup.svg" class="svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                        <div class="service_content">
                                            <div class="service_title trans_200">Trimming</div>
                                            <div class="service_text trans_200">
                                                <p>Scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Service -->
                                    <div class="service d-flex flex-row align-items-start justify-content-start trans_200">
                                        <div class="service_icon service_icon_3"><div class="text-right"><img src="/assets/themes/beauty/images/cream-2.svg" class="svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                        <div class="service_content">
                                            <div class="service_title trans_200">Streightening</div>
                                            <div class="service_text trans_200">
                                                <p>Scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpatdin.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="services_more">
                            <div class="services_more_button ml-auto mr-auto trans_200"><a href="#">load more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pricing -->

<div class="pricing">
    <div class="parallax_background" data-image-src="/assets/themes/beauty/images/pricing_background.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="section_title_container">
                    <div class="section_title"><h1>Pricing</h1></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                </div>
            </div>
        </div>
        <div class="row pricing_row">
            <div class="col">

                <!-- Pricing Slider -->
                <div class="pricing_slider_container">
                    <div class="owl-carousel owl-theme pricing_slider">

                        <!-- Slide -->
                        <div class="owl-item">
                            <div class="pricing_item">
                                <div class="background_image" style="background-image:url('/assets/themes/beauty/images/pricing.jpg')"></div>
                                <div class="pricing_border"></div>
                                <div class="pricing_content">
                                    <div class="pricing_title">Hair Cuts</div>
                                    <div class="pricing_list">
                                        <ul>
                                            <li class="d-flex flex-row align-items-start justify-content-start">
                                                <div>Women's Haircut</div>
                                                <div class="ml-auto">$95+</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-start justify-content-start">
                                                <div>Men's Haircut</div>
                                                <div class="ml-auto">$25+</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-start justify-content-start">
                                                <div>Teen's Haircut</div>
                                                <div class="ml-auto">$55+</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-start justify-content-start">
                                                <div>Children's Haircut</div>
                                                <div class="ml-auto">$30+</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item">
                            <div class="pricing_item">
                                <div class="background_image" style="background-image:url('/assets/themes/beauty/images/pricing.jpg')"></div>
                                <div class="pricing_border"></div>
                                <div class="pricing_content">
                                    <div class="pricing_title">Hair Color</div>
                                    <div class="pricing_list">
                                        <ul>
                                            <li class="d-flex flex-row align-items-start justify-content-start">
                                                <div>One Color</div>
                                                <div class="ml-auto">$95+</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-start justify-content-start">
                                                <div>Men's Color</div>
                                                <div class="ml-auto">$25+</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-start justify-content-start">
                                                <div>Pro Highlights</div>
                                                <div class="ml-auto">$55+</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-start justify-content-start">
                                                <div>Full Highlights</div>
                                                <div class="ml-auto">$30+</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide -->
                        <div class="owl-item">
                            <div class="pricing_item">
                                <div class="background_image" style="background-image:url('/assets/themes/beauty/images/pricing.jpg')"></div>
                                <div class="pricing_border"></div>
                                <div class="pricing_content">
                                    <div class="pricing_title">Services 4 Men</div>
                                    <div class="pricing_list">
                                        <ul>
                                            <li class="d-flex flex-row align-items-start justify-content-start">
                                                <div>Women's Haircut</div>
                                                <div class="ml-auto">$95+</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-start justify-content-start">
                                                <div>Men's Haircut</div>
                                                <div class="ml-auto">$25+</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-start justify-content-start">
                                                <div>Teen's Haircut</div>
                                                <div class="ml-auto">$55+</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-start justify-content-start">
                                                <div>Children's Haircut</div>
                                                <div class="ml-auto">$30+</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Gallery -->

<div class="gallery">
    <div class="gallery_slider_container">
        <div class="owl-carousel owl-theme gallery_slider">

            <!-- Slide -->
            <div class="owl-item gallery_item">
                <a class="colorbox" href="/assets/themes/beauty/images/gallery_1.jpg">
                    <div class="background_image" style="background-image:url('/assets/themes/beauty/images/gallery_1.jpg')"></div>
                </a>
                <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            </div>

            <!-- Slide -->
            <div class="owl-item gallery_item">
                <a class="colorbox" href="/assets/themes/beauty/images/gallery_2.jpg">
                    <div class="background_image" style="background-image:url('/assets/themes/beauty/images/gallery_2.jpg')"></div>
                </a>
                <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            </div>

            <!-- Slide -->
            <div class="owl-item gallery_item">
                <a class="colorbox" href="/assets/themes/beauty/images/gallery_3.jpg">
                    <div class="background_image" style="background-image:url('/assets/themes/beauty/images/gallery_3.jpg')"></div>
                </a>
                <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            </div>

            <!-- Slide -->
            <div class="owl-item gallery_item">
                <a class="colorbox" href="/assets/themes/beauty/images/gallery_4.jpg">
                    <div class="background_image" style="background-image:url('/assets/themes/beauty/images/gallery_4.jpg')"></div>
                </a>
                <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            </div>

            <!-- Slide -->
            <div class="owl-item gallery_item">
                <a class="colorbox" href="/assets/themes/beauty/images/gallery_5.jpg">
                    <div class="background_image" style="background-image:url('/assets/themes/beauty/images/gallery_5.jpg')"></div>
                </a>
                <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="/assets/themes/beauty/js/services.js"></script>
{% endblock %}