{% extends '/open/promotion/promotion.html.twig' %}
{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Promoción: Tratamiento Botox Capilar</h1>
    <p class="lead">
        - Con cualquier trabajo técnico o moldeado el tratamiento Botox capilar es gratis.<br/>
        - Tratamiento Botox Capilar valorado en 15 € <br/>
        - Esta promoción entra en el plan de puntos. Acumula diez y consigue un servicio de regalo. <br/>
        - Al hacer efectiva la promoción proporciona tu código para contabilizarlo.
    </p>
    <hr class="my-4">
    <h2>
        Aprovecha esta oportunidad y apúntate ahora!
    </h2>
    {% verbatim %}
    <form id="form-subscribe"  @submit="handleSubmit">
        <input type="hidden" v-model="referer">
        <div v-if="!showconfirm">
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email *</label>
                <div class="col-sm-10">
                    <input type="email" v-model="email" class="form-control" id="email" placeholder="Procura usar este email para todas las promociones">
                </div>
            </div>
            <div class="form-group row">
                <label for="txt-name" class="col-sm-2 col-form-label">Nombre *</label>
                <div class="col-sm-10">
                    <input type="text" v-model="name" class="form-control" id="txt-name" placeholder="Nombre y primer apellido" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="num-phone" class="col-sm-2 col-form-label">Móvil *</label>
                <div class="col-sm-10">
                    <input type="number" v-model="phone" class="form-control" id="num-phone" placeholder="para confirmar la cita" required>
                </div>
            </div>
        </div>

        <div v-if="showconfirm" class="form-group row">
            <label for="txt-code" class="col-sm-2 col-form-label">Código confirmación *</label>
            <div class="col-sm-10">
                <input type="text" v-model="codeconfirm" class="form-control" id="txt-code" placeholder="este código te debe haber llegado por email" required="required">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button id="btn-confirm" class="btn btn-primary" :disabled="issending" >
                    {{btnsend}}
                    <img v-if="issending" src="/assets/images/loading-bw.gif" width="25" height="25"/>
                </button>
            </div>
        </div>
    </form>
    {% endverbatim %}
</div>
{% endblock %}
{% block javascripts %}
<script>
const pr = (v,t) => {
    const str = JSON.stringify(v);
    alert(`${t}\n:${str}`)
}

const get_slug = ()=>{
    const parts = window.location.pathname.split("/")
    const slugquery = parts[parts.length-1]
    const slug = slugquery.split("?")
    return slug[0] ?? ""
}

const BTN_INISTATE = "Lo quiero"
const BTN_IN_PROGRESS = "Procesando..."
const BTN_CONFIRM = "Confirmar"

const formid = "form-subscribe"

const app = new Vue({
    el: `#${formid}`,
    data(){
        return {
            referer: "{{ referer }}",
            btnsend: BTN_INISTATE,
            showconfirm: false,
            issending: false,
            errors: [],
            codeconfirm: "",
            name: "Eledu",
            email: "eac@ya.com",
            phone: "123474128",
        }
    },

    methods:{
        subscribe(){
            const self = this

            self.issending = true
            self.btnsend = BTN_IN_PROGRESS

            const slug = get_slug()
            const url = `/promotion/subscribe/${slug}`

            const data = new FormData();
            data.append("action","subscribe")
            data.append("referer",this.referer)
            data.append("name",this.name)
            data.append("email",this.email)
            data.append("phone",this.phone)

            fetch(url, {
                method: 'post',
                body: data
            })
            .then(response => response.json())
            .then(response => {
                self.issending = false
                self.btnsend = BTN_INISTATE
                
                console.log("reponse",response)
                
                if(response.title == "success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Enhorabuena! <br/> Subscripción pendiente de confirmación',
                        html: 'Revisa tu email e ingresa el código que te hemos enviado.',
                    })
                    self.showconfirm = true;
                    self.btnsend = BTN_CONFIRM
                } else {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Esta acción no se ha podido completar',
                        text: response.description,
                    })
                }
            })
            .catch(error => {
                self.issending = false
                self.btnsend = BTN_INISTATE

                console.log("CATCH ERROR subscribe",error)
                Swal.fire({
                    icon: 'error',
                    title: 'Vaya! Ha ocurrido un error',
                    text: error.toString(),
                })
            })
        },//subscribe

        confirm(){
            const self = this

            self.issending = true
            self.btnsend = BTN_IN_PROGRESS

            const slug = get_slug()
            const url = `/promotion/confirm/${slug}`

            const data = new FormData();
            data.append("action","confirm-code")
            data.append("codeconfirm",this.codeconfirm)
            fetch(url, {
                method: 'post',
                body: data
            })
            .then(response => response.json())
            .then(response => {
                self.issending = false
                self.btnsend = BTN_CONFIRM

                console.log("reponse",response)
                
                if(response.title == "success") {
                    $(".app_button_close").click()
                    Swal.fire({
                        icon: 'success',
                        title: 'Enhorabuena! <br/> Subscripción realizada correctamente',
                        html: response.description
                    })
                    
                    self.showconfirm = true;
                } else {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Esta acción no se ha podido completar',
                        text: response.description,
                    })
                }
            })
            .catch(error => {
                self.issending = false
                self.btnsend = BTN_CONFIRM

                console.log("CATCH ERROR confirm",error)
                Swal.fire({
                    icon: 'error',
                    title: 'Vaya! Ha ocurrido un error',
                    text: error.toString(),
                })
            })
        },

        handleSubmit: function(e) {
          e.preventDefault()
          if(!this.showconfirm)
              this.subscribe()
          else{
              this.confirm()
          }
        }//handleSubmit(e)

    },//methods

    mounted(){
        console.log("mounted")
        //document.getElementById("form-subscribe").reset()
    }
})
</script>
{% endblock %}


