{% extends '/open/promotion/promotion-layout.html.twig' %}

{% block container %}
<div class="jumbotron">
    <h1 class="display-4"><b>Promoción x:</b><br/> {{ promotion.description }} </h1>
    <p class="lead">
        {{ promotion.content }}
    </p>
    <hr class="my-4">
    <h3>Confirma tu suscripción</h3>
    {% verbatim %}
    <form id="form-confirm"  @submit="handleSubmit">
        <input type="hidden" v-model="referer">
        <div  class="form-group row">
            <label for="txt-code" class="col-sm-2 col-form-label">Código *</label>
            <div class="col-sm-10">
                <input type="text" v-model="codeconfirm" class="form-control" id="txt-code" placeholder="este código te debe haber llegado por email" required="required">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-12">
                <button class="btn btn-lg btn-block btn-color" :disabled="issending" >
                    {{btnsend}}
                    <img v-if="issending" src="/assets/images/loading-bw.gif" width="25" height="25"/>
                </button>
            </div>
        </div>
    </form>
{% endverbatim %}
</div>
{% endblock %}
{% block javascripts %}
<script>
const BTN_INISTATE = "Confirmar"
const BTN_IN_PROGRESS = "Procesando..."

const formid = "form-confirm"

const app = new Vue({
    el: `#${formid}`,
    data(){
        return {
            errors: [],
            btnsend: BTN_INISTATE,
            issending: false,
            codeconfirm: "",
        }
    },

    methods:{
        handleSubmit(e){
            e.preventDefault()
            const self = this

            self.issending = true
            self.btnsend = BTN_IN_PROGRESS

            const slug = get_slug()
            const url = `/promotion/confirm/${slug}`

            const data = new FormData();
            data.append("action","confirm-code")
            data.append("codeconfirm",self.codeconfirm)

            fetch(url, {
                method: 'post',
                body: data
            })
            .then(response => response.json())
            .then(response => {
                console.log("reponse",response)
                self.issending = false
                self.btnsend = BTN_INISTATE

                if(response.title == "success") {

                    Swal.fire({
                        icon: 'success',
                        title: 'Enhorabuena! <br/> Subscripción realizada correctamente',
                        html: response.description
                    })

                    self.showconfirm = true;
                } else {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Esta acción no se ha podido completar',
                        text: response.description,
                    })
                }
            })
            .catch(function(error){
                self.issending = false
                self.btnsend = BTN_INISTATE

                console.log("error catched:",error)
                Swal.fire({
                    icon: 'error',
                    title: 'Vaya! Ha ocurrido un error',
                    text: error.toString(),
                })
            })
        }//handleSubmit(e)

    },//methods

    mounted(){
        console.log("mounted")
        //document.getElementById("form-confirm").reset()
    }
})
</script>
{% endblock %}


