{% extends '/open/promotion/promotion.html.twig' %}

{% block title %}Promoción Botox Capilar{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h2>Botox Capilar Gratis</h2>
        {% if error %}
            <div class="alert alert-error">
                {{ error.messagekey|trans(error.messageData,"security") }}
            </div>
        {% endif %}
        {% verbatim %}
        <form id="form-subscribe"  @submit="handleSubmit">
            <input v-if="!showconfirm" type="text" v-model="name" placeholder="Nombre" required="required">
            <input v-if="!showconfirm" type="email" v-model="email"  placeholder="Email" required="required">
            <input v-if="!showconfirm" type="text" v-model="phone"  placeholder="Teléfono" required="required">
            <input v-if="showconfirm" type="text" v-model="codeconfirm"  placeholder="Código confirmación" required="required">
            <button id="btn-appointment">La quiero</button>
        </form>
        {% endverbatim %}
    </div>
{% endblock %}
{% block javascripts %}
<script>
const get_slug = ()=>{
    const parts = window.location.pathname.split("/")
    const slugquery = parts[parts.length-1]
    const slug = slugquery.split("?")
    return slug[0] ?? ""
}

const formid = "form-subscribe"

const app = new Vue({
    el: `#${formid}`,
    data: {
        //requri: "{{ app.request.uri }}",
        showconfirm: false,
        errors:[],
        codeconfirm: "",
        name: "Eledu",
        email: "eac@ya.com",
        phone: "123474128",
    },

    methods:{
        handleSubmit: function(e) {
            const slug = get_slug()
            const url = `/promotion/subscribe/${slug}`
            //console.log("handleSubmit")
            $("#btn-appointment").hide()
            e.preventDefault()

            const data = new FormData();
            data.append("action","subscribe")
            data.append("name",this.name)
            data.append("email",this.email)
            data.append("phone",this.phone)

            fetch(url, {
                method: 'post',
                body: data
            })
                .then(function(response) {
                    $("#btn-appointment").show()
                    console.log("reponse",response)
                    if(response.ok) {
                        $(".app_button_close").click()
                        Swal.fire({
                            icon: 'success',
                            title: 'Enhorabuena! la cita se ha procesado ',
                            html: 'En breves momentos recibirás una copia de la misma en tu email. Recuerda que te llamaremos para <b>confirmarla</b>',
                        })
                        e.target.reset()

                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Vaya! Algo no ha ido bien',
                            text: 'No se ha podido procesar la cita. Por favor inténtalo más tarde o prueba por teléfono (34 91 455 74 43).  Disculpa las molestias.',
                        })
                    }

                })
        }
    },//methods
    mounted(){
        console.log("mounted")
        document.getElementById("form-subscribe").reset()
    }
})
</script>
{% endblock %}


