{% extends '/open/promotion/promotion.html.twig' %}

{% block title %}Promoción Botox Capilar{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h2>Botox Capilar Gratis</h2>
        {% if error %}
            <div class="alert alert-error">
                {{ error.messagekey|trans(error.messageData,"security") }}
            </div>
        {% endif %}
        {% verbatim %}
        <form id="form-subscribe"  @submit="handleSubmit">
            <input v-if="!showconfirm" type="text" v-model="name" placeholder="Nombre" required="required">
            <input v-if="!showconfirm" type="email" v-model="email"  placeholder="Email" required="required">
            <input v-if="!showconfirm" type="text" v-model="phone"  placeholder="Teléfono" required="required">
            <input v-if="showconfirm" type="text" v-model="codeconfirm"  placeholder="Código confirmación" required="required">
            <button id="btn-confirm">La quiero</button>
        </form>
        {% endverbatim %}
    </div>
{% endblock %}
{% block javascripts %}
<script>
const pr = (v,t) => {
    const str = JSON.stringify(v);
    alert(`${t}\n:${str}`)
}

const get_slug = ()=>{
    const parts = window.location.pathname.split("/")
    const slugquery = parts[parts.length-1]
    const slug = slugquery.split("?")
    return slug[0] ?? ""
}

const formid = "form-subscribe"

const app = new Vue({
    el: `#${formid}`,
    data(){
        return {
            //requri: "{{ app.request.uri }}",
            showconfirm: false,
            errors: [],
            codeconfirm: "",
            name: "Eledu",
            email: "eac@ya.com",
            phone: "123474128",
        }
    },

    methods:{
        subscribe(){
            const self = this
            const slug = get_slug()
            const url = `/promotion/subscribe/${slug}`
            //console.log("handleSubmit")
            $("#btn-confirm").hide()

            const data = new FormData();
            data.append("action","subscribe")
            data.append("name",this.name)
            data.append("email",this.email)
            data.append("phone",this.phone)

            fetch(url, {
                method: 'post',
                body: data
            })
            .then(response => response.json())
            .then(function(response) {
                $("#btn-confirm").show()
                
                console.log("reponse",response)
                
                if(response.title == "success") {
                    $(".app_button_close").click()
                    Swal.fire({
                        icon: 'success',
                        title: 'Enhorabuena! <br/> Subscripción pendiente de confirmación',
                        html: 'Revisa tu email e ingresa el código que te hemos enviado.',
                    })
                    
                    self.showconfirm = true;
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Vaya! Algo no ha ido bien',
                        text: response.description,
                    })
                }
            })
            .catch(function(error){
                console.log("error",error)
                Swal.fire({
                    icon: 'error',
                    title: 'Vaya! Ha ocurrido un error',
                    //text: response.description,
                })
            })
        },//subscribe

        confirm(){
            //alert("confirm")
            const self = this
            const slug = get_slug()
            const url = `/promotion/confirm/${slug}`
            $("#btn-confirm").hide()
            const data = new FormData();
            data.append("action","confirm-code")
            data.append("codeconfirm",this.codeconfirm)
            fetch(url, {
                method: 'post',
                body: data
            })
            .then(response => response.json())
            .then(function(response) {
                $("#btn-confirm").show()
                console.log("reponse",response)
                
                if(response.title == "success") {
                    $(".app_button_close").click()
                    Swal.fire({
                        icon: 'success',
                        title: 'Enhorabuena! <br/> Subscripción realizada correctamente',
                        html: response.description
                    })
                    
                    self.showconfirm = true;
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Vaya! Algo no ha ido bien',
                        text: response.description,
                    })
                }
            })
            .catch(function(error){
                console.log("error",error)
                Swal.fire({
                    icon: 'error',
                    title: 'Vaya! Ha ocurrido un error',
                    text: error.toString(),
                })
            })
        },

        handleSubmit: function(e) {
          e.preventDefault()
          if(!this.showconfirm)
              this.subscribe()
          else{
              this.confirm()
          }
        }//handleSubmit(e)

    },//methods

    mounted(){
        console.log("mounted")
        //document.getElementById("form-subscribe").reset()
    }
})
</script>
{% endblock %}


