<!-- Appointment -->
<div class="app trans_400">
    <div class="app_button_container d-flex flex-row align-items-center justify-content-start">
        <div class="app_button trans_400 d-flex flex-row align-items-center justify-content-start">
            <div class="app_button_icon"><img src="/assets/themes/beauty/images/woman.svg" alt="Pide cita"></div>
            <div>Pide cita</div>
        </div>
        <div class="app_button_close">close</div>
    </div>
</div>
<div class="app_content d-flex flex-column align-items-start justify-content-center">
    <div class="app_form_container text-right">
        {% verbatim %}
        <form action="#" id="app" class="app_form">
            <input type="text" v-model="name" class="app_input" placeholder="Nombre" required="required">
            <input type="email" v-model="email"  class="app_input" placeholder="Email" required="required">
            <input type="text" v-model="phone"  class="app_input" placeholder="Teléfono" required="required">
            <input type="date" v-model="datetime" class="app_input" placeholder="Fecha y hora" required="required">

            <select v-model="selservices" class="app_input app_select" multiple size="10">
                <option disabled="" selected="">Que te vas a hacer?</option>
                <option v-for="option in serviceopts" v-bind:value="option.value">
                {{ option.text }}
                </option>
            </select>

            <select v-model="selperson" class="app_input app_select">
                <option disabled="" selected="">Con quién?</option>
                <option v-for="option in personsopts" v-bind:value="option.value">
                {{ option.text }}
                </option>
            </select>
            <button class="app_form_button">Pedir</button>
        </form>
        {% endverbatim %}
    </div>
</div>


<script>
var app = new Vue({
    el: "#app",
    data: {
        name: "",
        email: "",
        phone: "",
        datetime: "",
        selservices: "s",
        serviceopts:[
            { text: 'Cortar', value: 'Cortar' },
            { text: 'Peinar', value: 'Peinar' },
            { text: 'Lavar', value: 'Lavar' },
            { text: 'Tratamiento', value: 'Tratamiento' },
            { text: 'Estética', value: 'Estética' },
            { text: 'Masaje', value: 'Masaje' }
        ],

        selperson: "p",
        personsopts:[
            { text: 'Carlos', value: 'Carlos' },
            { text: 'Miriam', value: 'Miriam' },
            { text: 'Beatriz', value: 'Beatriz' },
            { text: 'Otro', value: 'Otro' },
        ],

    }
})
</script>