<!-- Appointment -->
<div class="app trans_400">
    <div class="app_button_container d-flex flex-row align-items-center justify-content-start">
        <div class="app_button trans_400 d-flex flex-row align-items-center justify-content-start">
            <div class="app_button_icon"><img src="/assets/themes/beauty/images/woman.svg" alt="https://www.flaticon.com/authors/freepik"></div>
            <div>Pide cita</div>
        </div>
        <div class="app_button_close">close</div>
    </div>
</div>
<div class="app_content d-flex flex-column align-items-start justify-content-center">
    <div class="app_form_container text-right">
        <form action="#" id="app_form" class="app_form">
            <input type="text" class="app_input" placeholder="Nombre" required="required">
            <input type="email" class="app_input" placeholder="Email" required="required">
            <input type="text" class="app_input" placeholder="Teléfono" required="required">
            <input type="text" class="app_input" placeholder="Fecha y hora" required="required">
            <select id="sel-service" class="app_input app_select" multiple size="10">
                <option disabled="" selected="">Que te vas a hacer?</option>
                <option value="Corta">Cortar</option>
                <option value="Peinar">Peinar</option>
                <option value="Lavar">Lavar</option>
                <option value="Tratamiento">Tratamiento</option>
                <option value="Estética">Estética</option>
            </select>
            <button class="app_form_button">Pedir</button>
        </form>
    </div>
</div>