
.navlink-active {
  font-weight: bold;
  color: black;
}

.navlink-active span {
  border-bottom: 2px solid #0fbad8;
}

.modal-backdrop {
  z-index: -1; 
  display: none;
}

.modal {
  border: 1px solid green;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.padding-buttons {
  padding-top: 40px;
}

