
.navlink-active {
  font-weight: bold;
  color: black;
}

.navlink-active span {
  border-bottom: 2px solid #0fbad8;
}

.modal-backdrop {
  z-index: -1; 
  display: none;
}

.modal {
  border: 1px solid green;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.padding-buttons {
  padding-top: 40px;
}

.text-area-h {
  height: 75px;
}

.n-items {
  background-color: rgb(7, 146, 42);
  text-align: center;
  border-radius: 10px;
  min-width: 18px;
  padding: 0 5px;
  margin-left: 5px;
  
  font-size: 12px;
  color: #FFFFFF;
  font-weight: bold;
}

