<div class="services" id="services">
    <div class="parallax_background" data-image-src="/assets/themes/beauty/images/services.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="section_title_container">
                    <div class="section_title"><h1>Our Servicios</h1></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque.</p>
                </div>
            </div>
        </div>
        <div class="row services_row">
            <div class="col">
                <div class="section_expander">

                    <!-- Servicios Slider -->
                    <div class="services_slider_container">
                        <div class="owl-carousel owl-theme services_slider">

                            <!-- Slide -->
                            <div class="owl-item">

                                <!-- Service -->
                                <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
                                    <div class="service_icon"><div><img src="/assets/themes/beauty/images/mirror.svg" class="svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                    <div class="service_content">
                                        <div class="service_title trans_200">Hair Dressing</div>
                                        <div class="service_text trans_200">
                                            <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui ferme ntum eros hendrerit, id lobortis.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Service -->
                                <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
                                    <div class="service_icon"><div><img src="/assets/themes/beauty/images/facial-mask.svg" class="svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                    <div class="service_content">
                                        <div class="service_title trans_200">Ombre Hair</div>
                                        <div class="service_text trans_200">
                                            <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui ferme ntum eros hendrerit, id lobortis.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Slide -->
                            <div class="owl-item">

                                <!-- Service -->
                                <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
                                    <div class="service_icon"><div><img src="/assets/themes/beauty/images/makeup.svg" class="svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                    <div class="service_content">
                                        <div class="service_title trans_200">Hair Coloring</div>
                                        <div class="service_text trans_200">
                                            <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui ferme ntum eros hendrerit, id lobortis.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Service -->
                                <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
                                    <div class="service_icon service_icon_2"><div><img src="/assets/themes/beauty/images/cream.svg" class="svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                    <div class="service_content">
                                        <div class="service_title trans_200">Treatments</div>
                                        <div class="service_text trans_200">
                                            <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui ferme ntum eros hendrerit, id lobortis.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Slide -->
                            <div class="owl-item">

                                <!-- Service -->
                                <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
                                    <div class="service_icon service_icon_flip"><div><img src="/assets/themes/beauty/images/make-up.svg" class="svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                    <div class="service_content">
                                        <div class="service_title trans_200">Cutting & Trimming</div>
                                        <div class="service_text trans_200">
                                            <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui ferme ntum eros hendrerit, id lobortis.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Service -->
                                <div class="service d-flex flex-row align-items-center justify-content-start trans_200">
                                    <div class="service_icon service_icon_3"><div><img src="/assets/themes/beauty/images/cream-2.svg" class="svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
                                    <div class="service_content">
                                        <div class="service_title trans_200">Keratin Streightening</div>
                                        <div class="service_text trans_200">
                                            <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui ferme ntum eros hendrerit, id lobortis.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>