{% extends 'open/open-layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/assets/themes/beauty/plugins/colorbox/colorbox.css">
    <link rel="stylesheet" type="text/css" href="/assets/themes/beauty/styles/services.css">
    <link rel="stylesheet" type="text/css" href="/assets/themes/beauty/styles/services_responsive.css">
{% endblock %}

{% block body %}
<!-- Pricing -->
<div class="pricing" style="">
    <div class="parallax_background" data-image-src="/assets/themes/beauty/images/pricing_background.jpg"></div>
    <div class="container">
        <div class="row" style="padding-top:40px;">
            <div class="col-lg-9">
                <div class="section_title_container">
                    <div class="section_title"><h1 style="font-size: 48px;">Nuestras promociones</h1></div>
                    <p>
                        Aquí podrás encontrar nuestras mejores ofertas, promociones y regalos.<br/>
                        Las promociones son acumulables. Es decir, entran en un un plan por puntos.<br/>
                        Al haber hecho efectivas diez promociones recibirás un servicio gratuito.<br/>
                    </p>
                </div>
            </div>
        </div>
        <div class="row pricing_row">
            <div class="col">
                {{ include("open/promotion/elements/promotions-pricing-slider.html.twig") }}
            </div>
        </div>
    </div>
</div>

<div class="row" style="background: black; height: 5em; display: flex; align-items: center; justify-content: center;">
    <div style="height: 1px; width: 50%; background: white;  display: flex; align-items: center; justify-content: center;"></div>
</div>

<!-- Gallery -->
<div class="gallery">
    <div class="gallery_slider_container">
        <div class="owl-carousel owl-theme gallery_slider">

            <!-- Slide -->
            <div class="owl-item gallery_item">
                <a class="colorbox" href="/assets/themes/beauty/images/gallery_1.jpg">
                    <div class="background_image" style="background-image:url('/assets/themes/beauty/images/gallery_1.jpg')"></div>
                </a>
                <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            </div>

            <!-- Slide -->
            <div class="owl-item gallery_item">
                <a class="colorbox" href="/assets/themes/beauty/images/gallery_2.jpg">
                    <div class="background_image" style="background-image:url('/assets/themes/beauty/images/gallery_2.jpg')"></div>
                </a>
                <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            </div>

            <!-- Slide -->
            <div class="owl-item gallery_item">
                <a class="colorbox" href="/assets/themes/beauty/images/gallery_3.jpg">
                    <div class="background_image" style="background-image:url('/assets/themes/beauty/images/gallery_3.jpg')"></div>
                </a>
                <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            </div>

            <!-- Slide -->
            <div class="owl-item gallery_item">
                <a class="colorbox" href="/assets/themes/beauty/images/gallery_4.jpg">
                    <div class="background_image" style="background-image:url('/assets/themes/beauty/images/gallery_4.jpg')"></div>
                </a>
                <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            </div>

            <!-- Slide -->
            <div class="owl-item gallery_item">
                <a class="colorbox" href="/assets/themes/beauty/images/gallery_5.jpg">
                    <div class="background_image" style="background-image:url('/assets/themes/beauty/images/gallery_5.jpg')"></div>
                </a>
                <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="/assets/themes/beauty/js/services.js"></script>
    <script src="/assets/themes/beauty/plugins/colorbox/jquery.colorbox-min.js"></script>
{% endblock %}